@model IEnumerable<WebSalon.Models.Visit>

<div>
    <h2>Visits</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.StylistID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActDurationMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
        </tr>   
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StylistID)
                <td>
                    @Html.DisplayFor(modelItem => item.ActDurationMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>        
            </tr>
        }
    </table>
</div>

