@model IEnumerable<WebSalon.Models.Customer>

@{
    ViewBag.Title = "CustomerVisits";
}

<h2>Customers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Vorname")
            </th>
            <th>
                @Html.DisplayName("Nachname")
            </th>
            <th>
                @Html.DisplayName("Birthday")
            </th>
            <th>
                @Html.DisplayName("Female")
            </th>
            <th>
                @Html.DisplayName("Notes")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Female)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <input type="button" onclick="DetailVisit(item.CustomerID.ToString())" value="Details" />
                </td>
            </tr>

        }
    </tbody>

</table>

<h2>Visits</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Visit")
        </th>
        <th>
            @Html.DisplayName("VisitDate")
        </th>
        <th>
            @Html.DisplayName("ActDuration")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visits.FirstOrDefault().VisitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visits.FirstOrDefault().VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visits.FirstOrDefault().ActDurationMin)
            </td>
        </tr>
    }

</table>