@model WebSalon.Models.CustomerMasterDetailsModel
    
 
<h2>Customers</h2>
<h2>@ViewBag.Title</h2>

<section id="CustomerMasterList" class="float-left">
    <table class="table">
        <tr>
            <th>
                CustomerID
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
            <th>
                Notizen
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("View Details", "CustomerDetail", new
               {
                   id = item.CustomerID
               }, new { @class = "customer-details" })
                </td>
            </tr>
        }
    </table>
</section>

<div id="CustomerDetail"></div>

@section scripts{
    
    <script>
        $(function () {
            $('.customer-details').on('click', function (e) {
                $.get($(this).prop('href'), function (response) {
                    $('#CustomerDetail').html(response)
                });

                e.preventDefault();
            });
        });
    </script>
    
    
    
    }
    
